# Importing Dependancies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Importing Dataset

In [ ]:
data = pd.read_csv(r"C:\Users\ADMIN\Downloads\archive\creditcard.csv")

In [5]:
data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

# Finding null values

In [ ]:
data.isnull().sum()

# Distribuation of Transactions

In [8]:
data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#This is highly unbalanced data

# Seprating of data

In [11]:
#Let us consider 0 --> Normal Transaction
    #            1 -->fraud Transaction

In [12]:
legit = data[data.Class==0]
Fraud = data[data.Class==1]

In [14]:
print(legit.shape)
print(Fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
#Stastical measures of data

In [15]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
legit_sample=legit.sample(n=492)

In [ ]:
#Let's bulid a new dataset

In [20]:
new_dataset= pd.concat([legit_sample,Fraud],axis=0)

In [22]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
280020,169265.0,1.829403,-0.389376,-1.280153,1.323637,0.043494,-0.390801,0.114699,-0.221537,0.704789,...,0.425802,1.226803,-0.289313,-0.608912,0.458171,-0.216048,0.001807,-0.037010,119.00,0
235140,148266.0,-0.262930,0.959729,-0.898951,-1.222169,1.403323,-1.194461,1.556027,-0.339077,-0.534319,...,0.283223,0.987930,-0.180766,-0.419278,-0.289061,0.091290,0.274408,0.237795,0.77,0
81704,59056.0,-2.758299,0.932943,-0.666748,-2.053344,-0.854976,-0.145033,1.330470,-2.118722,1.805437,...,1.319434,0.105982,-0.312884,0.047585,-0.126528,-0.965498,-0.847326,-0.642966,234.26,0
255838,157424.0,-0.700435,0.311720,0.426775,-0.873366,0.890839,2.550396,-0.206467,0.779379,0.708805,...,0.399934,1.456293,-0.064331,-2.407781,-1.162600,0.715804,0.128555,0.256994,37.46,0
66769,52212.0,1.057962,0.048113,0.323782,0.782037,-0.471120,-0.780867,0.060605,-0.065414,0.100678,...,-0.205016,-0.746881,0.147100,0.345060,0.051936,0.098915,-0.023464,0.041138,69.99,0

In [23]:
new_dataset["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

# Splitting data into Features and Target

In [27]:
x=new_dataset.drop(columns="Class",axis=1)
y=new_dataset["Class"]

In [25]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
280020  169265.0  1.829403 -0.389376 -1.280153  1.323637  0.043494 -0.390801
235140  148266.0 -0.262930  0.959729 -0.898951 -1.222169  1.403323 -1.194461
81704    59056.0 -2.758299  0.932943 -0.666748 -2.053344 -0.854976 -0.145033
255838  157424.0 -0.700435  0.311720  0.426775 -0.873366  0.890839  2.550396
66769    52212.0  1.057962  0.048113  0.323782  0.782037 -0.471120 -0.780867
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
280020  0.114699 -0.221537  0.704789  ... -0.024958  0.425802  1.226803
235140  1.556027 -0.339077 -0.534319  ... -0.110039  0.283223  0.987930
81704   1.330470 -2.118722  1.805437  ... -0.992672  1.319434  0.105982
255838 -0.206467  0.779379  0.708805  ... -0.215389  0.399934  1.456293
66769   0.060605 -0.065414  0.100678  ... -0.027430 -0.205016 -0.746881
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
280020 -0.289313 -0.608912  0.458171 -0.216048  0.001807 -0.037010  119.00
235140 -0.180766 -0.419278 -0.289061  0.091290  0.274408  0.237795    0.77
81704  -0.312884  0.047585 -0.126528 -0.965498 -0.847326 -0.642966  234.26
255838 -0.064331 -2.407781 -1.162600  0.715804  0.128555  0.256994   37.46
66769   0.147100  0.345060  0.051936  0.098915 -0.023464  0.041138   69.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [28]:
print(y)

280020    0
235140    0
81704     0
255838    0
66769     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Split the data into Traning and Testing Data

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [31]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

# Now let's Train the Model

In [32]:
model=LogisticRegression()

In [33]:
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#Training model

In [34]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [ ]:
#Calculating Accuracy

In [36]:
print("Accuracy on traing data:",training_data_accuracy)

Accuracy on traing data: 0.951715374841169

In [ ]:
#Testing model

In [39]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [ ]:
#Calculating Accuracy

In [40]:
print("Accuracy score on test data:",test_data_accuracy)

Accuracy score on test data: 0.9289340101522843

In [ ]:
#Thank you